sudo: required
dist: bionic
if: tag IS present
install:
- sudo apt-get update && sudo apt-get install docker.io flex bison u-boot-tools gcc-8-arm-linux-gnueabihf-base gcc-arm-none-eabi
script:
- sudo systemctl unmask docker && sudo systemctl start docker && sudo docker run -it -v "$PWD:/repo" ubuntu:eoan bash -c "apt-get --assume-yes update && apt-get --assume-yes install make openjdk-8-jdk git flex bc bison u-boot-tools gcc-arm-linux-gnueabihf gcc-arm-none-eabi libssl-dev && ln -sf /usr/lib/jvm/java-8-openjdk-amd64 /usr/lib/jvm/default && cd /repo/build && make -j$(nproc) && ls"
before_deploy: |
  function keep_alive() {
    while true; do
      echo -en "Avoiding timeout..."
      sleep 5
    done
  }
  keep_alive &
deploy:
  provider: releases
  api_key:
    secure: MGVyDO7cWFPtAOzqvAPv+eEO7M1wD1gJQS1WlUj11P6bH0s6iYfJ2+4aEanuSa5zYfhFWo1jIzz3t3FKD7Uk2ahtohsBWlucLz3MEEU9QwnEM/thZQB+ILgngKrZk0BauRGA8uthMYtwMCv1RZIVTU+1j2chfQSZabc5Gu0R2Pl71CHPwsiRnB4jqT0BQYwXSHTA6DIP8KqJXtHndMHPzic4uoLq96RbZ9+MWjEhC2sXbx8aZvuPseDuFpigqVRJ51xO3b4tRI7w3zeoln0ZAWyhOd+Gc2eBirAmj5pCC4/pJNR9T8tPKALj8GR5tgp8ea9+fKYqEs4AbiRKVJRHnrH+zTIrHhP9JMabDqDqZP8YxGBLD6ijLWPjZOzihe8IptZihs25bxr9bDGz8j8ZvKD2L+J1vrxnCrLm5YdpSxbdaPzktmRiHvjkBjIhzOpwXmohKJ9n42NzzSwRSdQW7wu75RExcGkQ+BXfMkpYxSHJaupsT+2b08sXHLGJCbQvRweHPv/EUDOIrlp8RCqzhdQ2VsUilhrGIEMEeoFPFskIs2mdw5WHAY8s8xeo5WbiYQg2c46ggBqtZsPGpBvV2rnPoFyp2sZDLbqv7DuwlYvzk32JSSyXgB4tzGEjEsVQklx+OtQatKrAoWOLLSGsFyAp0A8SzTc86X5gGMyIUmM=
  file: build/conseqtv-server.deb
  on:
    repo: opre-amp/conseqtv-trafficlight
    tags: true